* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

header {
  position: static;
}

.navbar {
  background-color: #0f1111;
  height: 60px;
  line-height: 1rem;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.nav-logo {
  height: 50px;
  width: 8%;
  display: flex;
  align-items: center;
}

.in {
  margin-left: -10px;
  margin-top: 5px;
}

.logo {
  background-image: url(/images/amazon_logo.png);
  height: 50px;
  background-size: cover;
  cursor: pointer;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.address {
  padding: 5px;
}

.address-1 {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.address-2 {
  font-size: 1rem;
  margin-left: 3px;
}

.address-icons {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  background-color: pink;
  width: 55%;
  height: 35px;
  border-radius: 3px;
  justify-content: space-evenly;
  outline: none;
  border: none;
}

.search:hover {
  border: 2px solid orange;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-left: 10px;
  outline: none;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: orange;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.lang {
  padding: 14px 7px 14px 7px;
}

.sign {
  padding: 7px;
}

.return {
  padding: 7px;
}

.sign p span a {
  text-decoration: none;
  color: white;
}

.address-2 a {
  text-decoration: none;
  color: white;
}

span {
  font-size: 0.7rem;
}

.address-2 {
  font-size: 0.85rem;
  font-weight: 700;
}

.cart i {
  font-size: 30px;
}

.cart {
  font-size: 0.85rem;
  font-weight: 700;
  padding: 7px;
}

.panel {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #222f3d;
  color: white;
  align-items: center;
}

.panel-all {
  cursor: pointer;
}

.panel-all a {
  text-decoration: none;
  color: white;
}

.panel-all {
  margin-left: 15px;
  margin-right: 15px;
  padding: 7px;
}

.list-img-panel {
  display: flex;
  justify-content: space-between;
}

.panel-option ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: -120px;
}

.panel-option ul li a {
  text-decoration: none;
  padding: 5px;
  color: white;
}

.panel-option ul li a {
  border: 1.5px solid transparent;
}

.panel-option ul li a:hover {
  border: 1.5px solid white;
}

.panel a img {
  width: 300px;
  height: 25px;
  padding-right: -500px;
}

.hero {
  background: url(/images/hero.jpg) no-repeat center center/cover;
  height: 90vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  position: relative;
  top: 40%;
  padding-left: 20px;
  padding-right: 20px;
}

.item {
  width: 350px;
  height: 410px;
  margin: 10px;
  background-color: white;
  padding: 20px 10px 10px 10px;
  justify-content: flex-end;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.item h1 {
  font-size: 21.5px;
}

.item a {
  text-decoration: none;
  color: #007185;
  font-size: 13px;
}

.item a:hover {
  color: red;
  border-bottom: 1px solid red;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-bottom: 25px;
}
.content .box {
  margin: 10px;
}
.content .box p {
  font-size: 12px;
}
.content .box img {
  height: 100px;
  width: 150px;
}
.content .box-2 img {
  height: 120px;
  width: 160px;
}

.content-5 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.content-5 .box {
  margin: 10px;
}
.content-5 .box p {
  font-size: 12px;
}
.content-5 .box img {
  height: 100px;
  width: 150px;
}

.item-4-1 {
  height: 140px;
  width: 350px;
  margin: 10px;
  background-color: white;
  padding: 20px 10px 10px 10px;
}

.item-4-1 {
  text-align: left;
}

.item-4-2 {
  height: 250px;
  width: 350px;
  background-color: #222f3d;
  margin-top: 0px 10px 10px 10px;
  background-color: white;
  padding: 0px 10px 10px 10px;
}

.item-4-1 a button {
  width: 100%;
  border-radius: 20px;
  background-color: rgb(232, 221, 8);
  padding: 5px 20px 5px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: transparent;
}

.item-4-2 {
  cursor: pointer;
  text-align: center;
}

.item-4-2 a {
  text-decoration: none;
  color: white;
}

.item-4-2 img {
  height: 150px;
  width: 230px;
}

.item-4-2 p {
  font-size: 13px;
  text-align: left;
}

.icons {
  text-align: left;
  font-size: 13px;
}

.icons i {
  color: rgb(236, 163, 28);
}

.deal-offer {
  text-align: left;
}

.deal-offer button {
  color: white;
  background-color: rgb(190, 32, 32);
  border: transparent;
  padding: 5px;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
  font-weight: 800px;
}

.deal-offer span {
  color: rgb(190, 32, 32);
  font-weight: bold;
}

sup {
  color: rgb(190, 32, 32);
}

.mrp span {
  font-size: 17px;
  font-weight: bold;
}

.mrp {
  margin-top: 5px;
}

.price {
  color: rgb(190, 32, 32);
}

.mrp i {
  font-size: 10px;
  color: orange;
  margin-left: 5px;
}

.prime-word {
  color: rgba(0, 255, 255, 0.764);
  font-style: bold;
  font-size: 10px;
  font-weight: 800px;
}

.item-4 {
  text-align: right;
}

.top-deals {
  margin-top: 500px;
  padding-left: 20px;
  padding-right: 20px;
}

.top-deals-heading {
  background-color: white;
  display: flex;
  padding: 20px 20px 10px 10px;
}

.heading-line a {
  text-decoration: none;
  margin-top: 20px;
  margin-left: 10px;
  color: #007185;
  font-size: 13px;
}

.heading-line a:hover {
  color: red;
  border-bottom: 1px solid red;
}

.container-2 {
  display: flex;
  overflow: auto;
  position: relative;
  background-color: white;
}

.container2-1 {
  display: flex;
  height: 315px;
}

.scroller {
  width: 220px;
  height: 230px;
  margin: 10px;
  background-color: whitesmoke;
  padding: 20px 10px 10px 10px;
  text-align: center;
}

.scroller-btn button {
  padding: 5px;
}

.scroller a {
  text-decoration: none;
  color: red;
}

.phone-name {
  font-size: 10px;
}

.clothe {
  margin-top: 5px;
}

.scroller-btn p {
  color: black;
}

sup {
  color: black;
}

.software {
  margin-top: 25px;
}

.software-height {
  display: flex;
  height: 210px;
}

.software-img {
  margin: 10px;
}

.container-footer-side {
  margin-top: 20px;
}

.item-content-3 img {
  height: 270px;
  width: 320px;
}

.item-container-3 {
  margin-bottom: 0px;
}

.sponser-img {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.sponser-img img {
  width: 1000px;
}

.sponser-img p {
  text-align: center;
  font-size: 13px;
  padding-left: 930px;
}

.back-to-section {
  height: 60px;
  background-color: #007185;
  text-align: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.back-to-section a {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #222f3d;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.footer-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.266);
}

.container-footer-heading h5 {
  font-size: 15px;
  margin-bottom: 10px;
  color: white;
}

.container-footer-heading ul li {
  list-style: none;
  line-height: 1.5;
}

.container-footer-heading ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.container-footer-heading ul li a:hover {
  border-bottom: 1px solid white;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 15px;
}

.footer-logo img {
  width: 120px;
  height: 60px;
  margin-right: 80px;
}

.footer-btn button {
  background-color: transparent;
  border: 1px solid white;
  box-shadow: none;
  color: white;
  padding: 5px 10px 5px 10px;
}

.country {
  padding-bottom: 30px;
}

.country ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country ul li {
  list-style: none;
  margin: 10px;
}

.country ul li a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.country ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.762);
}

.footer-main {
  color: white;
  background-color: #000000;
  height: 37vh;
  padding-left: 200px;
  padding-right: 300px;
  text-align: left;
}

.footer-main-list ul {
  list-style: none;
}

.footer-main-list ul li {
  line-height: 0.8;
}

.footer-main-list ul li a {
  text-decoration: none;
  font-size: 12px;
  color: white;
}

.footer-main-list ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.762);
}

.footer-main-list {
  display: flex;
  justify-content: space-around;
}

.footer-main-list-1 {
  margin-top: 30px;
}

.footer-main-list-1 a {
  text-decoration: none;
  color: white;
}

.footer-main-list-1 a:hover {
  border-bottom: 1px solid white;
}

.footer-main-list-last-footer {
  padding-left: 18px;
}

.copyrights {
  text-align: center;
  line-height: 0.8;
}

.copyrights ul {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.copyrights ul li {
  margin: 10px;
  list-style: none;
}

.copyrights ul li a {
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.759);
  font-size: 13px;
}

.copyrights ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.762);
}

.copyrights-para {
  color: rgba(255, 255, 255, 0.762);
  font-size: 13px;
}

* {
  height: auto;
  width: auto;
}/*# sourceMappingURL=style.css.map */